body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}


header {
    background-color: #92ce93;
    color: #fff;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
}


nav a:hover {
    text-decoration: underline;
}


main {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
}





